.location {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
}

.location iframe {
  display: block;
  margin: 0 auto;
}

.location iframe:hover {
  transform: scale(1.01);
}

@media (max-width: 700px) {
  .location {
    width: 95%;
    padding: 20px 0;
  }
  
  .location iframe {
    height: 350px;
  }
}
